<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag 'logo.png' %>
  </div>
  <div id="content">
    <h1>Hey, I'm Ricky Cruz</h1>
    <p>My goal is to learn by myself Ruby on Rails (and improve my English) by building a new web app (using Rails) each week for 5 or more weeks.</p>
    <p>This week I built a very simple blog, where I can create posts (as well as edit and delete them), visitors can comment on posts, and I can login or logout.</p>
  </div>
</div>